body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8e5c4;
}

nav {
  background-color: #b8011f;
}

.nav-link {
  color: white;
}

.container-fluid {
  align-items: center;
}

img {
  width: 50px;
}

/* Content */

.container > h2 {
  text-decoration: underline #b8011f;
}

.card {
  border-radius: 20px;
}

.card > img {
  border-radius: 20px 20px 0 0;
}
